#brand{
    height:100%;
}
#sidebar_header{
    margin-bottom:0;
    padding-top:1em;
    color:whitesmoke;
}

.navbar-brand{
    padding-top:5px;
    padding-bottom:0;

}
.container{
    width:100%;
    padding-left:0;
    padding-right:0;
}

table{
    margin-top:10px;
}

#project_table .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
#timecard_table{
    overflow:auto;
}

#timecard_graph{
    margin-top: 50px;
}

.bar:hover{
    cursor:pointer;
}

#content-pane{
    margin-top:20px;
}

.container-fluid{
    padding-left:0;
    padding-right:0;
}
.dc-table-row, .pie-slice{
    cursor:pointer;
}