{% extends "admin/base.html" %}
{% load custom_tags static i18n %}
{% block brand-logo %} {{ client.first_name }} {{ client.last_name }}{% endblock %}
{% block minor-logo %} {{ client.phone_number }} | {{ client.email }}{% endblock %}
{% load custom_tags %}
{% block content %}
        <div class="col-md-12">
            <div class="col-md-6">
                <table id="client_detail" class="table table-striped table-bordered"></table>
            </div>
            <div class="col-md-6">
                <div id="total_owed" class="col-md-12"></div>
                <div id="total_cost" class="col-md-12"></div>

                <div id="client_projects" class="col-md-12"></div>
                <button class="col-md-offset-6 button btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset
                </button>
            </div>
        </div>

    <script>OnloadProcessing.getClientData({{ timecards|json_safe }},
        {{ projects|json_safe }},
        {{ profile|json_safe }},
        {{ tasks|json_safe }});</script>

{% endblock %}