{% extends "admin/base.html" %}
{% load custom_tags static i18n %}
{% block brand-logo %}{{ employee.first_name }} {{ employee.last_name }}{% endblock %}
{% block minor-logo %}{{ employee.email }}{% endblock %}
{% block content %}
    <div class="panel">

        <div class="col-md-12">
            <div id="timecard_graph" class="col-md-7"></div>
            <div id="projects_worked" class="col-md-5"></div>
            {% comment %}
            <div id="top_earning_projects" class="col-md-6"></div>
{% endcomment %}
            {% comment %}
            <h1 id="total_labor_cost_display" class="col-md-12">Total Pay: </h1>
{% endcomment %}
        </div>
        <button class="col-md-offset-6 button btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset</button>

        <div class="col-md-12">
            <div id="timecard_table" class="table table-striped table-bordered"></div>
        </div>
    </div>

    <script>OnloadProcessing.generateEmployeeDetail({{ timecard|json_safe }}, {{ project|json_safe }},
        {{ task|json_safe }}, {{ profile|json_safe }});</script>

{% endblock %}