{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <div class="col-md-12">
        <h2>{{ employee.first_name }} {{ employee.last_name }}</h2>
        <h4> {{ employee.email }}</h4>
    </div>
    <div class="col-md-5">
        <div id="timecard_table" class="col-md-2 table table-striped table-bordered"></div>
    </div>
    <div id="timecard_graph" class="col-md-7"></div>
    <button class="col-md-offset-3 button btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset</button>



    <script>OnloadProcessing.generateEmployeeDetail({{ timecard|json_safe }}, {{ project|json_safe }}, {{ task|json_safe }})</script>

{% endblock %}