{% extends "base.html" %}
{% block content %}
    <div class="col-md-2">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Current Projects</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td>Alamo Renewal Project</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Mayson Tree Removal</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Ran out of names already</td>
            </tr>
            <tr>
                <th>4</th>
                <td>More projects</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Productivity Charts</h3>
         <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Dates</th>
                    <th>Hours</th>
                </tr>
                </thead>
                <tbody>
                {% for item in latest_timecards %}

                    <tr>
                        <td></td>
                        <td>{{ item.timecard_date }}</td>
                        <td>{{ item.timecard_hours }}</td>
                    </tr>

                {% endfor %}
             </tbody>>
         </table>
    </div>
{% endblock %}
