{% extends "base.html" %}
{% block content %}
    <div class="col-md-2">
        <h5>List of active projects</h5>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Current Projects</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <th>{{ project.pk }}</th>
                    <td>{{ project.project_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h5>List of newest timecard entries</h5>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Dates</th>
                <th>Hours</th>
            </tr>
            </thead>
            <tbody>
            {% for item in latest_timecards %}

                <tr>
                    <td>{{ item.timecard_date }}</td>
                    <td>{{ item.timecard_hours }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
