{% extends "admin/base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="col-md-12" style="margin-bottom:10px">
        <h2>{{ project.first.project_name }}</h2>
        <h4>{{ project.first.project_description }}</h4>
        <h4>{{ project.first.supervisors }}</h4>
        <button type=button class="btn btn-default" onclick="window.location='/pdfgenerate/{{ project.first.pk }}';">
            Generate PDF
        </button>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#spent_tab">Resource
            Spent</a></li>
        <li><a data-toggle="tab" href="#income_tab">Expected Income</a></li>
    </ul>

    <div class="tab-content">
        <div id="spent_tab" class="tab-pane fade in active">
            <div class="col-md-12">

                <div class="col-md-6">
                    <table id="task_detail_table" class="table table-striped table-bordered"></table>
                </div>
{#                <div class="col-md-3">#}
{#                    <table id="material_cost_table" class="table table-striped table-bordered"></table>#}
{#                </div>#}
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div id="project_progress_chart" style="width:100%"></div>
                    </div>
                    <div class="col-md-12">
                        <div id="total_charges_chart" style="width:100%"></div>
                    </div>
                    <div id="perPersonHours" class="col-md-4"></div>
                    <div class="col-md-6"></div>
                    <h1 id="total_hours" class="col-md-offset-1 col-md-3">Total hours: </h1>
                    <h1 id="total_charges" class="col-md-offset-1 col-md-3">Total charges: </h1>
                </div>
                <button class="col-md-offset-9 button btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset
                </button>

            </div>
        </div>
        <div id="income_tab" class="tab-pane fade">
            <div class="col-md-12">

                <div class="col-md-6">
                    <table id="task_income_table" class="table table-striped table-bordered"></table>
                </div>
{#                <div class="col-md-3">#}
{#                    <table id="material_income_table" class="table table-striped table-bordered"></table>#}
{#                </div>#}
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div id="income_chart" style="width:100%"></div>
                    </div>
                    <div class="col-md-12">
                        <div id="profit_chart" style="width:100%"></div>
                    </div>
                </div>
                <button class="col-md-offset-9 button btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset
                </button>

            </div>
        </div>
    </div>
    {#    <script>AjaxRequest.get_data_for_project_detail("{{ project.pk }}")</script>#}
    <script>
        OnloadProcessing
            .get_data_for_project_detail({{ timecards|json_safe }}, {{ users|json_safe }},
                {{ tasks|json_safe }}, {{ expenditures|json_safe}}, {{ profiles|json_safe }},
                {{ project|json_safe }});
        OnloadProcessing
            .getExpectedIncome({{ timecards|json_safe }}, {{ users|json_safe }},
                {{ tasks|json_safe }}, {{ expenditures|json_safe}}, {{ profiles|json_safe }},
                {{ project|json_safe }});
    </script>

{% endblock %}