{% extends "admin/base.html" %}
{% load custom_tags static i18n %}
{% block brand-logo %} {{ project.first.project_name }}{% endblock %}
{% block minor-logo %} {{ project.first.project_description }} {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/project_detail.css" %}"/>
    <div class="container-fluid">
        <div class="row">

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span>
                        </button>
                        <p>Enter A Date Range for Invoice</p>
                    </div>
                    <form action="/pdfgenerate/">
                        <div class="modal-body">
                            <input type="hidden" id="projectInput" name="project" value="">
                            Start:
                            <input type="date" name="start" value="{{ minDate }}">
                            End:
                            <input type="date" name="end" value="{{ maxDate }}">

                        </div>
                        <div class="modal-footer">
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-tabs col-xs-4">


                <li class="active" onclick="console.log('swag');"><a data-toggle="tab" href="#spent_tab">Resource
                    Spent</a></li>
                <li><a data-toggle="tab" href="#income_tab">Expected Income</a></li>
            </ul>

            <div class="tab-content col-xs-12">
                <div id="spent_tab" class="tab-pane fade in active">
                    <div class="col-md-12">
                        <div id="resource_spent_charts" class="col-md-8">
                            <div class="col-md-12">
                                <div id="project_progress_chart" style="width:100%"></div>
                            </div>
                            <div class="col-md-12">
                                <div id="total_charges_chart" style="width:100%"></div>
                            </div>
                            <div class="col-md-12 col-sm-offset-3 col-md-offset-7">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#myModal">
                                    Generate PDF
                                </button>

                                <button class="btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset
                                </button>
                            </div>
                        </div>
                        <div id="perPersonHours" class="col-md-4"></div>
                        <div class="col-md-12">
                            <table id="task_detail_table" class="table table-striped table-bordered"></table>
                        </div>


                    </div>
                </div>
                <div id="income_tab" class="tab-pane fade col-xs-12">

                    <div class="col-md-12">
                        <div id="income_chart" class="col-md-6"></div>
                        <div id="profit_chart" class="col-md-6"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#myModal">
                            Generate PDF
                        </button>

                        <button class="btn btn-info" onclick="dc.filterAll();dc.redrawAll()">Reset
                        </button>
                    </div>
                    <div class="col-md-12">
                        <table id="task_income_table" class="table table-striped table-bordered"></table>
                    </div>


                </div>


            </div>
        </div>
    </div>
    <script>
        OnloadProcessing
            .get_data_for_project_detail({{ timecards|json_safe }}, {{ users|json_safe }},
                {{ tasks|json_safe }}, {{ expenditures|json_safe}}, {{ profiles|json_safe }},
                {{ project|json_safe }});
        OnloadProcessing
            .getExpectedIncome({{ timecards|json_safe }}, {{ users|json_safe }},
                {{ tasks|json_safe }}, {{ expenditures|json_safe}}, {{ profiles|json_safe }},
                {{ project|json_safe }});
    </script>
    <script>
        OnloadProcessing.get_URL_PDF({{  project|json_safe}})
    </script>

{% endblock %}