<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeKeeper Projects</title>

    {% load static %}
    <script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}"/>

    <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}"/>
    <script type="text/javascript" src="{% static "js/test.js" %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <nav id="header" class="col-md-12 navbar navbar-default">
            <div class="navbar-header row">
                <a class="navbar-brand col-md-3" href="#">
                    <img id="brand" alt="Brand" src="{% static "img/monster.png" %}">
                </a>
                <h4 class="col-md-6">ZSM TimeKeeper</h4>

            </div>
        </nav>
    </div>
    <div class="row">
        <div id="wrapper" class="col-md-2 toggled">

            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="col-md-12">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            John Doe
                        </a>
                    </li>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Clients</a>
                    </li>
                    <li>
                        <a href="#">Timecard</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Hours Charged</th>
                    <th>Project Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Alamo Renewal Project</td>
                    <td>5</td>
                    <td>Renovating historical sites downtown</td>
                </tr>
                <tr>
                    <td>Mayson Tree Removal</td>
                    <td>11</td>
                    <td>Removing trees on the Mayson compound</td>
                </tr>
                <tr>
                    <td>Ran out of names already</td>
                    <td>3</td>
                    <td>Doing work</td>
                </tr>
                <tr>
                    <td>More projects</td>
                    <td>20</td>
                    <td>Really exciting stuff over here</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /#wrapper -->
{% comment %}<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>{% endcomment %}
</body>
</html>