{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div>Project Name: {{ project.project_name}}</div>
    <div>Project Description: {{ project.project_description}}</div>
    <div>Project Hours: {{ project.project_name}}</div>
</div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Task Title</th>
                <th>Task Description</th>
                <th>Hours Remaining</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.project_task_title }}</td>
                    <td>{{ task.project_task_description }}</td>
                    <td>{{ task.project_task_hours_remaining }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}