{% extends "base.html" %}
{% block content %}
<div class="col-md-4">
    <form>
        <label for="Project">Select project:</label>
        <select class="form-control" id="Project">
            <option>Alamo Renewal Project</option>
            <option>Mayson Tree Removal</option>
            <option>Important Project</option>
            <option>More stuff</option>
        </select>
        <div class="form-group">
            <label for="InputDate">Input Date</label>
            <input type="date" class="form-control" id="InputDate" placeholder="Date">
        </div>
        <div class="form-group">
            <label for="InputHours">Input Hours</label>
            <input type="number" class="form-control" id="InputHours" placeholder="Hours">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
